{
  "lastChangelogVersion": "0.84.2",
  "defaultProvider": "openai-codex",
  "defaultModel": "gpt-5.6-sol",
  "defaultThinkingLevel": "medium",
  "compaction": {
    "enabled": false
  },
  "theme": "dark",
  "transport": "websocket",
  "httpIdleTimeoutMs": 0,
  "websocketConnectTimeoutMs": 60000,
  "packages": [
    "{{ if eq .chezmoi.os "windows" }}../../git/agent-skills{{ else }}../../github/agent-skills{{ end }}"
  ],
  "enabledModels": [
    "openai-codex/gpt-5.6-sol",
    "deepinfra/zai-org/GLM-5.2",
    "openai-codex/gpt-5.6-terra",
    "deepinfra/nvidia/NVIDIA-Nemotron-3-Ultra-550B-A55B",
    "mistral/mistral-medium-3.5",
    "openai-codex/gpt-5.6-luna",
    "mistral/mistral-small-2603"
  ]
}
