name: Unit Tests

on:
  push:
    branches: [master, main]
  pull_request:

jobs:
  test:
    name: Emacs ${{ matrix.emacs }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        emacs: ['28.2', '29.4']
    steps:
      - uses: actions/checkout@v4
      - uses: purcell/setup-emacs@master
        with:
          version: ${{ matrix.emacs }}
      - run: make test-unit
