# Start chezmoi template - "dot_bashrc.tmpl"
{{- if eq .chezmoi.os "windows" -}}
# windows
# ripgrep profile
export RIPGREP_CONFIG_PATH="$USERPROFILE/.ripgreprc"
alias rg='rg --path-separator=//'

# echo zoxide path cd'd to 
export _ZO_ECHO=1

eval "$(zoxide init bash)"
{{- else if eq .chezmoi.osRelease.id "debian" -}}
# debian
{{-   include ".bashrc_debian" -}}
{{- end -}}
echo  cat ~/.bash_shell_hints
# End chezmoi template - "dot_bashrc.tmpl"
